/**
 * Editor Styles
 */

.wp-block {
    .is-style-spoiler-alert {
        &::before {
            content: '';
            background-color: transparent;
            outline: 1px solid #000;
            position: absolute;
            top: -14px;
            bottom: -14px;
            left: -14px;
            right: -14px;
        }
        &::after {
            content: 'Spoiler Alert';
            background-color: #000;
            color: #fff;
            border: none;
            transform: none;
            position: absolute;
            top: -14px;
            left: unset;
            right: -14px;
            bottom: unset;
            font-size: 11px;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            line-height: 11px;
            text-transform: none;
            padding: 4px;
        }
    }

    &.is-selected,
    &.is-hovered {
        .is-style-spoiler-alert {
            &::before, &::after {
                display: none;
            }
        }
    }
}