/**
 * Styles
 *
 * CSS for both Frontend+Backend.
 */

.is-style-spoiler-alert {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        z-index: 1;
    }

    &::after {
        content: 'Click to reveal';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 0.625rem 0.9375rem;
        border: 2px solid #fff;
        color: #fff;
        font-size: 0.75rem;
        line-height: 1em;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 2;
    }

    &.is-revealed {
        &::before, &::after {
            display: none;
        }
    }
}